<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Games for Rent</a>
    </div>

    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a  routerLink="/games" >Library</a></li>
        <li routerLinkActive="active"><a  routerLink="/rent" >Rented Games</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropDown><!-- -->
          <a style="cursor: pointer" class="dropdown-toogle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer" routerLink="/users">create user</a></li>
            <li><a style="cursor: pointer">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
