<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" ngModel class="form-control"
          required >
        </div>
        <div class="col-sm-5 form-group">
          <label for="amount">E-mail</label>
          <input type="text" id="email" name="email" ngModel class="form-control"
          email
          required>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!f.valid">{{editMode ? 'Update': 'Add'}}</button>
          <button type="button" class="btn btn-danger"  [disabled]="!editMode" (click)="onDelete()">Delete</button>
          <button type="button" class="btn btn-primary" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
